[submodule "vim/.vim/bundle/vim-bufferline"]
	path = vim/.vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround
